*{
    margin: 0;
    padding: 0;
    
}
body{
    /* background-color: #D6E5FA; */
}
.title{
    text-align: center;
    color: #000000;
    font-size: 45px;
    /* background-color: #6d85dd; */
    margin: 25px 500px 25px 400px;
    border-radius: 15px;
}
.main{
    display: flex;
    width: 100vw;
    justify-content: center;
    text-align: left;
    line-height: 40px;
    justify-content: space-between;
    
   
    
}
.main > div{
    margin: 30px 10px 10px 10px;
    
    
    /* background-color:#3C84AB; */
    height: 30vw;
    width: 25vw;
    border-color: 5px solid;
   
    
}
li{
    list-style-type: none;
  
    margin: 20px;
    padding: 15px;
    /* background-color: #6d85dd; */
    border-radius: 15px;
    font-size: 30px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 2);
    
    
   
}
/* .list-check{
    padding: 20px;
    background-color: rgb(41, 50, 50);
    border: blue 2px solid;
} */
#New_list{
    border-right: black 3px solid;
    border-radius: 5px;
    padding: 50px;
    
    
}
#To_buy{
    border-right: black 3px solid;
    border-radius: 5px;
    padding: 50px;
}
#remove{
    padding: 50px;
    
}
.add_newlist_btn{
    font-size: 30px;

}
#remove li{
    text-decoration: line-through;
}